[submodule "riscv-arch-test-am"]
	path = tests/riscv-arch-test-am
	url = git@github.com:NJU-ProjectN/riscv-arch-test-am.git
[submodule "riscv-tests-am"]
	path = tests/riscv-tests-am
	url = git@github.com:NJU-ProjectN/riscv-tests-am.git
